rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // app_versions collection for versioning
    match /app_versions/{appVersionId} {
      allow write: if false; // Only this script has access
      allow read, list: if true; // Accessible for all users
    }
  }
}
