rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Helper function to check if user is authenticated staff
    function isStaff() {
      return request.auth != null && request.auth.token.isStaff == true;
    }

    function isAuthenticated() {
      return request.auth != null
    }

    // app_versions collection for versioning
    match /app_versions/{appVersionId} {
      allow write: if false; // Only this script has access
      allow read, list: if true; // Accessible for all users
    }

    // Store configuration document
    match /configs/store {
      allow read, write: if isStaff(); // Only staff can modify store config
    }

    // Global configuration document
    match /configs/global_configs_private {
      allow read, write: if isStaff();
    }

    match /configs/global_configs_public {
      allow read, write: if isAuthenticated();
    }

    // Hotel availability configuration
    match /configs/hotel-availability {
      allow read, write: if true;
    }

    // Sales collection
    match /sales/{saleId} {
      allow read, create, update: if isStaff(); // Only staff can create and update sales
      allow delete: if false; // Prevent deletion of sales records for audit purposes
    }

    // Reservations collection
    match /reservations/{reservationId} {
      allow read, write, update, list: if isStaff(); // Clients write via the backend functions
    }

    match /configs/hotel_pricing {
      allow read: if isAuthenticated();
      allow write: if isStaff();
    }
  }
}
