rules_version = '2';


service firebase.storage {
    match /b/dondersteen-resort.appspot.com/o {
        match /customers/{uid}/{allPaths=**} {
            allow read, write: if request.resource.size < 200 * 1024 * 1024 && request.auth.uid == uid;
        }
    }
}
